

<div class="container">
	<div class="screen">
		<div class="screen__content">
            <div class="login__field">
                <i class="login__icon fas fa-user"></i>
			<p class="welcome-message">Welcome {{ currentCard.name }}!</p>
<ul class="action-list">
<a routerLink="/app/jobposting">Click Here</a> to post a job<br>
<a routerLink="/app/explorecandidates">Click Here</a> to view posted jobs.<br>
<a routerLink="/app/employerdetails">Click Here</a> to fill the recruiter form.<br>
</ul>			
</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
    